[2017-01-10 17:08] pat2echo opened #1 "I Can't get the code to run"
Hi I am new to Node.js but i cannot get the code to run

C:\Users\pat2echo\node_modules\convert-excel-to-json>node app.js
C:\Users\pat2echo\node_modules\convert-excel-to-json\app.js:5
#!/usr/bin/env node
^

SyntaxError: Unexpected token ILLEGAL
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Modu

[2017-01-10 17:29] pat2echo commented on #1
**SOLVED:**
I simple watched this tutorial https://www.youtube.com/watch?v=MSCtnotXKdo

Then i thought to comment out the line in the app.js file that
Initial entry
#!/usr/bin/env node

Final Correct Entry
//#!/usr/bin/env node

[2017-01-10 17:29] #1 closed

[2017-01-12 23:42] DiegoZoracKy commented on #1
Hey @pat2echo, as you are new to Node.js tell me what are you trying to do so i can try to guide you. `node app.js` is not the way to go. You should install this package and require it on your project. Take a look at this tutorial: https://www.airpair.com/javascript/node-js-tutorial

[2017-01-14 17:32] pat2echo commented on #1
Thank you very much

On Fri, Jan 13, 2017 at 12:42 AM, Diego ZoracKy <notifications@github.com>
wrote:

--
*MAYBEACH TECHNOLOGIES LIMITED*
----------------------------------------------------------
No 42 Lobito Crescent Wuse 2, Abuja

You can also check us out on:

*https://twitter.com/MaybeachTech
<https://twitter.com/MaybeachTech>https://www.facebook.com/maybeachtech?fref=ts
<https://www.faceboo

[2017-05-19 14:02] aTewan opened #2 "sheet[cell].v.trim is not a function"
I don't know why when I try to convert some sheets, I got an error :
[code]

[2017-05-19 14:28] DiegoZoracKy commented on #2
Hi @aTewan,

I made a fix for that. Can you try with the latest version and tell me if everything went well?

[2017-05-19 14:37] aTewan commented on #2
It looks perfect, thank you so much !

[2017-05-19 14:57] DiegoZoracKy commented on #2
Good!

Can you tell me what kind of data were you extracting from the spreadsheet?
Just to know about this case that i hadn't thought about yet.

On May 19, 2017 11:37 AM, "Tewan" <notifications@github.com> wrote:

[2017-05-19 15:28] aTewan commented on #2
I think it's because on the excel file i tried to convert, there is on several cells, some errors when a function was applied on this (i convert xlsm into xlsx), these errors filled the cell with "#N/A" because "unavailable value". But after the conversion "#N/A" result into 42.

[2017-05-19 15:55] DiegoZoracKy commented on #2
Got it! Thanks for the extra info @aTewan .

[2017-05-19 15:55] #2 closed

[2017-08-01 07:55] broerjuang opened #3 "Convert Excel to JSON and Get real data type"
Hi @DiegoZoracKy,

Thanks for creating this package, but I have following issue when I want to convert value from JSON to real `JS` value. It always returns `string` instead of `number` for the value that supposed to be `number`. Is there any support for this? Thanks.

[2017-08-01 23:54] DiegoZoracKy commented on #3
Hi @broerjuang,

Now it has support for it! From now the conversion will return `Number` when the cell is of that type.

Improve the conversion in order to respect the data type of the cell (whenever is possible) was already on my plans, however I wasn't find time to improve it towards that. At least for now the case for `Number` is done.

Check the version 1.2.0 and tell me if it's ok.

Thanks;

[2017-08-02 13:07] fpolowood commented on #3
@DiegoZoracKy wow... I created an app that extracts json from excel files and then uses json schemas to validate the content, since the excel files will be edited by users... but my validation was failing because of numbers coming in as strings... so I came here to create an issue... and voilá ... it is fixed!!!

[2017-08-02 23:45] DiegoZoracKy commented on #3
@fpolowood Great! Just in time! Did you check the 1.2.0 version and now is it working for you?

[2017-08-03 00:52] fpolowood commented on #3
Yes, thank you, it was fixed before I could enter the issue :) It is working great, the issue I am having now is that some phone numbers were entered as 9195551212 and they are now treated as numbers :) But we should be able to fix that at the spreadsheet.
BTY, I am using ajv to validate the output and it is invaluable to catch inconsistencies before they get deployed.

Many thanks.

From: "Diego

[2017-08-03 01:52] DiegoZoracKy commented on #3
@fpolowood One idea is to improve the API in order to give an option to force a data type (when possible) by column/key, with something like this:

[code]

And another one is to define a function to transform the data in some way. It would be used like this:

[code]

In your case you can fix it on the spreadsheet, but having a scenario where one will receive spreadsheets from multiple sources, and

[2017-08-15 01:36] DiegoZoracKy opened #4 "Option to transform data during conversion"
Example:

[code]

Based on the idea described here:

https://github.com/DiegoZoracKy/convert-excel-to-json/issues/3#issuecomment-319845759

[2017-08-15 01:36] #3 closed

[2018-02-09 10:31] bhavarajus opened #5 "Error Handling"
How to handle if any error occurs at the time of conversion? Thank you.

[2018-02-09 11:56] DiegoZoracKy commented on #5
This function is executed in a "sync" way, so wrapping it within a `try...catch` will allow you to catch any error that might happen.

Out of curiosity, are you currently facing  some kind of error while executing it?

[2018-02-09 12:06] bhavarajus commented on #5
Thank you the error I was getting is as follows

I am fairly new to developing could you give me an example how to try and catch error.

Thank you

[2018-02-09 15:18] DiegoZoracKy commented on #5
Can you post here a code snippet showing how you are calling the function?
To check if the arguments are correct.

A `try...catch` works as follows:

`
try {
    someFunction();
} catch(ex) {
    console.error(ex);
}

// in case someFunction()  results in error, the following will still be
executed
console.log('this code will be executed');

On Feb 9, 2018 10:07 AM, "Siddhartha Bhavaraju" <notific

[2018-02-10 05:00] bhavarajus commented on #5
Ya sure here below is what I am doing. By the way what I am doing is in javascript.
`var excelToJson = require('convert-excel-to-json');
var uploadData;
var result = excelToJson({
                    sourceFile: newFileName,
                    header: {
                        rows: 1
                    },
                    columnToKey: {
                        '*': '{{columnHeader}}'

[2018-02-18 19:19] DiegoZoracKy commented on #5
hey @bhavarajus, did you solve your issue?

[2018-02-19 03:51] Abhay2012 commented on #4
Hello,
i'm getting this error TypeError: columnData.match is not a function, when i'm using columnToKey can you help me?

[2018-02-19 12:25] ayush12234 opened #6 "Why it doesn't handle date types?"
I was converting a date and it got replaced by some number.

[2018-02-19 22:30] DiegoZoracKy commented on #4
Hi @Abhay2012, can you post here to me the snippet of code where you are calling the function? Also, can you open a new issue for us to talk about your case? This one is specific for the feature request described above.

[2018-02-19 23:17] DiegoZoracKy commented on #6
Hey @ayush12234, thanks for bringing that up. Check with the new version, 1.3.0, and tell me if now you have the date handled as expected.

[2018-02-20 08:00] ayush12234 commented on #6
Thanks @DiegoZoracKy . Its working good now.

[2018-02-20 11:29] DiegoZoracKy commented on #6
👍

[2018-02-20 11:29] #6 closed

[2018-02-21 05:58] Abhay2012 opened #7 "TypeError: columnData.match is not a function"
Hello,
Actually excel i want  to convert has a date field in this format 2018-02-05 and in the resultant json i'm getting a number 43136 instead of string of date, so after checking other issues i have tried to use
var result = excelToJson({
        sourceFile: `${req.file.path}`,
        columnToKey: {
	      C: {
		   property: 'phoneNumber',
		   dataType: 'String'
 	       }
         }
});
 to

[2018-02-21 16:53] DiegoZoracKy commented on #7
Get the new version (#6) an try again, without the object {property, dataType} as you were trying.

[2018-02-22 09:46] Abhay2012 commented on #7
Thanks, updating the package solved my issue and sorry for creating similar issue again

[2018-02-27 03:33] DiegoZoracKy commented on #5
Feel free to open that issue again in case you need it.

[2018-02-27 03:33] #5 closed

[2018-06-28 07:01] rugged-service opened #8 "Issue with larger files"
I'm having an issue processing large file of ~50mb. Could this be something I'm doing wrong or do you know if the package allows processing of very large files?

[2018-06-28 12:33] DiegoZoracKy commented on #8
What is the error that you are facing? Can you post the error message here?

On Thu, Jun 28, 2018, 4:01 AM rugged-service <notifications@github.com>
wrote:

[2018-07-06 02:44] kgrvamsi opened #9 "How to convert empty space cell's to null values"
How can i keep the empty spaces with cells to match the header data.(is there a way to define empty space as null or none value when converted to json)

Example: header cells :14
Cells: 11(3 cells are empty space cells)

[2018-07-07 14:47] DiegoZoracKy commented on #9
Can you post here the full config  (header, columnToKey, etc.) you are passing in to the lib?

[2018-07-09 16:50] naresh217 opened #10 "Write to a file"
Do you have any option to write to a file while using CLI.

I tried to use it in my angular project using but it throws an error
`'use strict';
const excelToJson = require('convert-excel-to-json');

const result = excelToJson({
	sourceFile: 'SOME-EXCEL-FILE.xlsx'
});`
![image](https://user-images.githubusercontent.com/5828286/42464287-9ca0f4f8-8376-11e8-96e1-9c72b1143080.png)

[2018-07-09 17:02] DiegoZoracKy commented on #10
This module uses js-xlsx under the hood. Check if it supports running on browser and I found this thread that may help you:

https://github.com/SheetJS/js-xlsx/issues/418

[2018-07-09 17:14] naresh217 commented on #10
@DiegoZoracKy do you have an option to write to a file using command line ?

`$ convert-excel-to-json --config='{"sourceFile": "tests/test-data.xlsx", "outputJSON": true}'`

[2018-07-09 17:31] DiegoZoracKy commented on #10
@naresh217 no, at first, because when using via CLI we can easily use Redirection `>` to write a file containing the output data.

Example:

`$ convert-excel-to-json --config='{"sourceFile": "tests/test-data.xlsx", "outputJSON": true}' > output-file.json`

Sorry about the first answer. I was walking on the street and ended up focusing on the browser error.

[2018-07-09 18:47] naresh217 commented on #10
Thankyou. With this approach generated output file failing jsonlint.com
testing

On Mon, Jul 9, 2018, 1:31 PM Diego ZoracKy <notifications@github.com> wrote:

[2018-07-09 18:55] DiegoZoracKy commented on #10
Can you paste here a snippet of what was generated.

On Mon, Jul 9, 2018, 3:47 PM Naresh Chakilam <notifications@github.com>
wrote:

[2018-07-09 19:10] naresh217 commented on #10
Input [test-data.xlsx](https://github.com/DiegoZoracKy/convert-excel-to-json/files/2177642/test-data.xlsx)
**Generated output**
{
	"sheet1": [
		{
			"A": "id",
			"B": "first_name",
			"C": "last_name",
			"D": "email",
			"E": "gender",
			"F": "ip_address"
		},
		{
			"A": 1,
			"B": "Judith",
			"C": "Bennett",
			"D": "jbennett0@cargocollective.com",
			"E": "Female",
			"F": "190.37.72.226"

[2018-07-09 19:51] DiegoZoracKy commented on #10
@naresh217 I deleted your last message because it seems to have real personal data from some people. But, from what I saw, it seems to be a valid json.

[2018-07-09 19:55] naresh217 commented on #10
I tried to validate it in http://jsonviewer.stack.hu and jsonlint.com both
says invalid format.
What i see was it generating data twice in the same file.
Thanks for deletions

On Mon, Jul 9, 2018, 3:51 PM Diego ZoracKy <notifications@github.com> wrote:

[2018-07-10 01:31] DiegoZoracKy commented on #10
@naresh217 Get the new version 1.4.0. You were right. When defining **outputJSON** both versions were being printed on stdout (JSON and raw Object Literal). Now the **outputJSON** is not needed anymore. I took the time to also make some improvements that were on my todo list, on the usage via CLI.

From now on you can pass only the **sourceFile** option instead of the whole config in JSON format.

[2018-07-10 18:33] naresh217 commented on #10
Thanks this worked like an awesome

[2018-07-10 18:40] DiegoZoracKy commented on #10
Great 🤘

[2018-07-10 18:40] #10 closed

[2018-08-10 00:12] harshitgupta opened #11 "Include Empty Rows"
Hi,

First of all thank you for the module. Its one of the rare modules that

- support both xls and xlsx files
- gives the data cell by cell

One problem I found is that it ignores empty lines by default. My app's business logic requires me to pick up rows based upon user-given index values (which include empty lines).

It would be great if you could make it config based rather the current approa

[2018-08-10 02:53] DiegoZoracKy commented on #11
You are right. It does that by default. What do you think about a config to indicate when it should return the empty values (being the current behavior of not returning the empty the default value)?

As you are already on the right snippet of the code, would you like to implement it?

[2018-08-20 04:07] thearabbit opened #12 "Nest column with array or object?"
Could use nest column `array, object` like this
[code]

[2018-08-20 04:23] thearabbit opened #13 "How to use with `Upload file: file[0]`?"
I would like to convert from `upload excel file`
[code]
But don't work

![image](https://user-images.githubusercontent.com/4495160/44320298-58055300-a46b-11e8-92a8-f7e1eaf9e26b.png)

[2018-08-20 11:46] DiegoZoracKy commented on #13
Based on the log you sent, it seems that the error is not related to this module. Take a look at `readFileSync` is not a function. Are you trying to use it on the front-end?

[2018-08-20 11:50] DiegoZoracKy commented on #12
Hi @thearabbit, could you describe better the idea?

[2018-08-20 12:14] thearabbit commented on #13
Yes, now I know it use on Server!
but I not clear how to upload my excel file to Server `Meteor Method`.
I base on `Meteor JS`
[code]
But not work, please help me (how to pass file[0] to server)

[2018-08-20 12:43] thearabbit commented on #12
Like [excel-as-json](https://github.com/stevetarver/excel-as-json)

![image](https://user-images.githubusercontent.com/4495160/44341129-3929af80-a4b1-11e8-831a-bffd98c0142c.png)

[2018-08-20 13:25] DiegoZoracKy commented on #4
One more use case where this feature would be helpful: https://github.com/DiegoZoracKy/convert-excel-to-json/issues/12

[2018-08-20 13:27] thearabbit commented on #12
thanks 👍

[2018-08-20 13:27] #12 closed

[2018-08-20 13:31] DiegoZoracKy commented on #13
I would really help you if I could. But I don't know much about Meteor. I suggest you to forget about the conversion for a while, and to focus only on getting the uploaded file path on the server. Write a code where you will only `console.log` the received file path and then you try to move forward with the conversion.

After you can get the uploaded file path on the server, if you still have a pr

[2018-08-20 13:38] thearabbit commented on #13
I tried to use `FileReader` via ` `Meteor forum to update file`
[code]
but still not work

[2018-08-20 13:49] thearabbit commented on #13
Other hand, could you example with
- Rest API (Express)
- Axios (HTTP client)
Bc I could use this instead `Meteor Method`

[2018-08-20 13:59] DiegoZoracKy commented on #13
See if the example section here can help you:

https://www.npmjs.com/package/express-fileupload

On Mon, Aug 20, 2018, 10:49 AM Yuom Theara <notifications@github.com> wrote:

[2018-08-21 04:57] thearabbit commented on #13
Now I use `Meteor File Upload`, and then read file to source

[2018-08-21 04:57] #13 closed

[2018-08-21 05:01] thearabbit opened #14 "could I use the row[0]/header as prop name of object value?"
![image](https://user-images.githubusercontent.com/4495160/44381304-d3cdd100-a539-11e8-871c-3edf087c81cf.png)

[code]

[2018-08-21 05:04] thearabbit commented on #14
I can't use `column to key mapping`, bc sometime use changed order column.

[2018-08-21 09:10] thearabbit commented on #14
Now work fine
[code]

[2018-08-21 09:12] thearabbit commented on #14
Now work fine
[code]
I solved by all column, but I wold like to do any columns

[2018-08-21 09:16] thearabbit commented on #4
I got the same error
[code]

[2018-08-21 09:17] thearabbit commented on #4
Could you explain on doc?

[2018-08-28 00:46] DiegoZoracKy commented on #14
Great! So, is everything ok now? Can we close this issue?

[2018-08-28 00:47] DiegoZoracKy commented on #11
Hi @harshitgupta,

Are you still interested in working on that? No pressure, just checking to see if we should keep this issue open.

[2018-08-28 00:48] DiegoZoracKy commented on #9
Hi @kgrvamsi,

Did you solve your issue? Can we close this?

[2018-08-28 00:50] DiegoZoracKy commented on #8
HI @rugged-service,

Did you managed to process your large file? Can we close this issue?

[2018-08-28 00:53] DiegoZoracKy commented on #4
Hi @thearabbit,

Can you post here the config you passed in to this module that resulted in `columnData.match is not a function`?

[2018-08-29 22:00] ukankal commented on #14
How do we cleanse header values(like replace space, dots etc in header cells with _'s ) and still do columnToKeycolumnToKey: {
          '*': '{{columnHeader}}',
        }

[2018-08-29 22:10] DiegoZoracKy commented on #14
Did you find error while running the module because those characters were written on the header, or do you just want to "clean" the keys found on the result object?

[2018-08-29 22:48] DiegoZoracKy commented on #14
This module doesn't provide something on this sense. This should be a rule
of your application's domain. What you can do is to clean it yourself by
looping through all the keys with Object.keys().

On Wed, Aug 29, 2018, 7:24 PM Uday <notifications@github.com> wrote:

[2018-08-29 23:28] thearabbit commented on #14
Thanks for your reply.
How to solve?

[2018-08-30 18:26] DiegoZoracKy commented on #14
Hi @thearabbit, how to solve what?

[2018-08-30 23:55] thearabbit commented on #14
Now I use
[code]
But don't good for me, when user change order of column name

[2018-08-31 13:20] rxhl opened #15 "Parsing time to string results in date"
I'm trying to parse an excel sheet where one of the columns is time viz. `5:15PM`, `7:10AM`. I can store these values successfully as strings just by doing `myTimeVar.toString()`.

However, when the time value has a space in between e.g. `5:15 PM` and `7:10 AM`, the `toString()` method returns a full blown date object as string. For instance, `myTimeVar.toString()` prints `Sat Dec 30 1899 16:15:00

[2018-08-31 19:39] DiegoZoracKy commented on #15
Currently, all cells of type `date` on Excel are returned as a `Date`
object on JS.

Could you try to select these cells and force its data type to text/string
on Excel? It seems that your spreadsheet is automatically setting the type
to date when it has a space, because in this way it is inferring this type.
Probably those cells are defined as General on Excel.

On Fri, Aug 31, 2018, 10:20 AM Rah

[2018-09-04 14:43] DiegoZoracKy commented on #14
By using:

[code]

You could get all the keys, following what is written on the header, regardless of their order.

Search for "columnHeader" on the docs to see more about it.

[2018-09-04 14:44] DiegoZoracKy commented on #15
Something new on this case?

[2018-09-04 16:28] rxhl commented on #15
Those cells are indeed 'General' in Excel. When I force change their type to 'Text', the time string turns into a number viz. `5:15 PM` becomes `0.71875`. Do you know how to turn off this automatic conversion?

[2018-09-04 23:17] DiegoZoracKy commented on #15
Yes, excel has this kinda of weird behavior. Try to copy all the values of this column to the Notepad (or other text editor), select the entire column and change its type to Text, then paste back the values from Notepad. After that, hopefully you will have all the original data as text.

[2018-09-04 23:19] #8 closed

[2018-09-05 00:07] thearabbit commented on #14
I would like specific like this
[code]

[2018-09-05 11:28] DiegoZoracKy commented on #14
Take a look at the section: "Mapping columns to keys :: Special Variables
Cell Variables"

It says:

"A value from a specific cell can be defined as a key name (e.g. { A: '{{A1}}' })..."

This one and the `{{columnHeader}} ` are closest solutions to what you want to achieve.

[2018-09-05 13:01] rxhl commented on #15
Thanks, it did work out. As you can imagine, parsing hundreds of sheets this way might be tedious. Please do post if you have any other idea. Thanks again for the great library.

[2018-09-13 19:46] joelsantosjunior opened #16 "Missing required _config :: function (obj)"
When I try to convert a file, an error is returned

![image](https://user-images.githubusercontent.com/8531514/45511813-639b1f80-b774-11e8-8eda-73c8adc49c9b.png)

![image](https://user-images.githubusercontent.com/8531514/45511790-54b46d00-b774-11e8-9e24-367f928495a3.png)

PS: "path" is a valid file path

node v8.10.0
npm 3.5.2

[2018-09-16 16:14] DiegoZoracKy commented on #16
Which version of the lib are you using?

[2018-09-17 11:58] joelsantosjunior commented on #16
1.4.0

[2018-09-17 12:16] DiegoZoracKy commented on #16
Can you show me more of your code (hiding sensitive information)? This
version is being used for two months already and there wasn't a case like
that showing up.

On Mon, Sep 17, 2018, 8:58 AM Joel S. Junior <notifications@github.com>
wrote:

[2018-09-20 08:48] bikernumber13 opened #17 "Error : Cannot read property 'trim' of undefined"
Line 16 of convert-excel-to-json.js :
Need to remplace :
` return (sheetCell.t === 'n' || sheetCell.t === 'd') ? sheetCell.v : (sheetCell.w.trim && sheetCell.w.trim()) || sheetCell.w;`

By :
` return (sheetCell.t === 'n' || sheetCell.t === 'd') ? sheetCell.v : (sheetCell.w && sheetCell.w.trim()) || sheetCell.w;`

 it's work perfectly with this correction.

[2018-09-20 11:39] DiegoZoracKy commented on #17
Thanks! Can you post here the case where you faced a problem because of
that?

On Thu, Sep 20, 2018, 5:48 AM bikernumber13 <notifications@github.com>
wrote:

[2018-09-20 11:44] bikernumber13 commented on #17
This problem appeared when I wanted to convert an excel file to json.
This excel file has empty lines. For example, the first 3 of my file were
empty. I think it's because of them.

2018-09-20 13:39 GMT+02:00 Diego ZoracKy <notifications@github.com>:

--

Cordialement,

M. Michael BOUHIER

Student at 42

Fullstack Web Developper

Software Engineer

Red Coat Devoxx France since 2016

Tel : +33 6 17

[2018-09-20 12:36] DiegoZoracKy commented on #17
Thanks! I'll try to adjust it before the end of this week. But feel free to
send a PR, if you want.

On Thu, Sep 20, 2018, 8:44 AM bikernumber13 <notifications@github.com>
wrote:

[2018-09-21 00:34] DiegoZoracKy commented on #16
Any news here @joelsantosjunior?  I still couldn't reproduce your case.

[2018-09-21 00:34] #15 closed

[2018-09-21 00:36] #17 closed

[2018-09-21 01:05] thearabbit commented on #14
Thanks, Now I understand about this usage.
👍

[2018-09-21 01:05] #14 closed

[2018-09-21 12:08] joelsantosjunior commented on #16
I was able to solve the problem using another library that was already in the project, thanks!

[2018-09-21 12:08] #16 closed

[2018-09-24 03:09] strayguevara opened #18 "Wrap strings in double quotes"
JSON is currently being output as follows:

`{ example:
   [ { id: 1, category: 'fruit', name: 'pear', price: 2.5 },
     { id: 2, category: 'vegetable', name: 'potato', price: 2.5 },
     { id: 3, category: 'vegetable', name: 'zuchinni', price: 2.5 },
     { id: 4, category: 'fruit', name: 'banana', price: 1.5 },
     { id: 5, category: 'fruit', name: 'apple', price: 1.5 },
     { id: 6, category

[2018-09-24 12:01] DiegoZoracKy commented on #18
Which version are you using? If it's a version lower than the current one (1.4.1) try to update it.  Currently, when called via CLI, the output is being converted to JSON.

[2018-09-24 20:51] strayguevara commented on #18
Hi Diego

I'm using v1.4.1 but my output is as above.  My .js file is configured as follows:

`'use strict';
const excelToJson = require('convert-excel-to-json');

const result = excelToJson({
	sourceFile: './file.xlsx',
	header:{
	    rows: 1
	},
	columnToKey: {
      '*': '{{columnHeader}}',
    }
});

var fs = require('fs');
var util = require('util');
fs.writeFileSync('./data.json', util.inspe

[2018-09-24 20:56] DiegoZoracKy commented on #18
I see. The result of this lib, when not being executed via CLI, is indeed an Object Literal and not a JSON. In your specific case, you want to convert it to a JSON, so you can do `JSON.stringify(result)` to accomplish that.

[2018-09-24 21:17] strayguevara commented on #18
Awesome, thank you.

[2018-09-24 21:17] #18 closed

[2018-09-24 21:18] DiegoZoracKy commented on #18
🤘

[2018-11-03 21:51] NunoChumbo commented on #11
Hi, i too need for the column data even if cell is empty, but as for the empty lines it may stayas it is.
Can you please apply the suggested fix.
Thank you

[2018-11-04 06:15] harshitgupta commented on #11
sorry for the delay but I just created the pull request.

Please let me know if you have any questions.

Thanks @NunoChumbo for the reminder.

[2018-11-05 03:10] DiegoZoracKy commented on #11
Hi @ harshitgupta,

Thanks for creating the PR. It will handle very well this case. I just wrote one comment there that I would like to see your answer before merging it.

[2018-11-05 04:30] harshitgupta commented on #11
@DiegoZoracKy Sure but I don't see any comment there.

<img width="1005" alt="screen shot 2018-11-04 at 10 28 14 pm" src="https://user-images.githubusercontent.com/1644577/47978064-2c186780-e081-11e8-988c-235c80f21199.png">

Could you please point me to it?

[2018-11-05 04:36] DiegoZoracKy commented on #11
Sure, it is on the changes section:

https://github.com/DiegoZoracKy/convert-excel-to-json/pull/20/files

[2018-11-05 04:46] harshitgupta commented on #11
well, it's embarrassing. I still don't see it, neither did i get any notification for it. do you have to assign it to me or something?

[2018-11-05 04:54] DiegoZoracKy commented on #11
That's weird. Anyway, here is the screenshot of it:

![img_20181105_025235](https://user-images.githubusercontent.com/2091071/47978619-00f43f00-e0a6-11e8-8c6b-1451c3ccd5c2.jpg)

[2018-11-05 05:08] harshitgupta commented on #11
On my side its looks like this:

<img width="1011" alt="screen shot 2018-11-04 at 10 56 43 pm" src="https://user-images.githubusercontent.com/1644577/47978726-09884d80-e085-11e8-87ee-ad5f8f07b8a1.png">

no sign of any comment or anything.

But anyways to answer your question I would say that since we are dealing with array which starts with index of 0 and the `row` at line # 49 always start from `

[2018-11-06 00:06] DiegoZoracKy commented on #11
Thanks for your answer and your PR @harshitgupta. It is already merged and published on npm (v 1.5.0)

@NunoChumbo might want to take a look.

[2018-11-06 00:13] DiegoZoracKy commented on #11
PR merged: https://github.com/DiegoZoracKy/convert-excel-to-json/pull/20

[2018-11-06 00:13] #11 closed

[2018-11-07 11:50] ArcticTee opened #21 "Apply functions to row header"
Hi,

first of all, this is a great library, thank you for keeping this up! To enhance the functionality I would like to do the following:

I just tried to import a sheet which has a header row with duplicates like this:

[code]

This will result in a json object like this:

[code]

I would like get the option to apply multiple functions to the header row to transform the column names when using th

[2018-11-07 13:43] DiegoZoracKy commented on #21
Hi @ArcticTee, thanks for bringing that case, and a solution which I believe is a very good one. And it seems to match with a suggestion that I've left open a few months ago. Take a look at this issue and tell me what you think of this approach:

https://github.com/DiegoZoracKy/convert-excel-to-json/issues/4

[2018-11-07 14:12] ArcticTee commented on #21
Yeah, this option is fine **as long as you know the name of your columns**.

I am currently working on a general import of Excel files and I do not know the column format of that files when implementing it. The user of this import tool shall give the sheet name and if the file contains (and if so where the header row lies) in a GUI.

Therefore I would be happy if the enhancement for single keys an

[2018-11-07 14:44] DiegoZoracKy commented on #21
I believe that both ideas can be joined. In fact, I can see two different issues here.

The first one is to never let data be discarded due to multiple column headers with the same name. By default it should `suffixDuplicates` as you suggested, and this behavior could be disabled via config.

The second issue is about the interface to apply a pipeline of data transformations.

I believe that the f

[2018-11-07 14:56] ArcticTee commented on #21
Just partly. Because it is just one transformation our tool needs to do. We are using a MongoDB which accepts JSON inputs.

E.g. this `suffixDuplicate` will prevent data loss during the import. But it needs to look at all the keys, to find duplicates.

But another practical problem the pipeline/transformation would solve is that invalid column names (which can be checked by just looking at a singl

[2018-11-20 10:38] ArcticTee commented on #21
@DiegoZoracKy Any updates on this? Let me know if I can help you.

[2018-11-21 15:46] DiegoZoracKy commented on #21
I'm almost with no free time during this month. Probably, from next week
onwards I'll be able to get back to this issue. The point is to define a
good interface for us to configure the transformations.

On Tue, Nov 20, 2018, 8:38 AM ArcticTee <notifications@github.com wrote:

[2018-11-23 08:51] ArcticTee commented on #21
Yeah. I am happy you are on it.

[2018-12-26 11:08] Dilipv500 opened #23 "When header is having comment it's not working"
Code:-
`var excelToJson = require('convert-excel-to-json');
var result =await excelToJson({
    sourceFile: 'data.xlsx',
    columnToKey: {
        '*': '{{columnHeader}}'
    }
});`

![excelcommentissue](https://user-images.githubusercontent.com/27860154/50444108-91276580-092c-11e9-9935-3424fad50388.PNG)

[2018-12-26 12:06] DiegoZoracKy commented on #23
Hi @Dilipv500, can you explain better what went wrong? Did you get some error? Were the headers shown as letters? Posting the output here can be helpful.

[2018-12-27 08:00] Dilipv500 commented on #23
when ever i tried to retrieve the data if the Excel File(Header consists of Cell comment) then the execution stops automatically.

without comments in Excel Cell Headers then it's working fine.

[2019-01-22 09:39] danny12321 opened #24 "How to retreive empty columns"
Hello,

Thanks for the great module! It works great but I can not see an option to get empty columns in a row. Isn't there any or am I missing something?

My config:

[code]

[2019-01-22 13:34] DiegoZoracKy commented on #24
Hi @danny12321, can you tell me a bit more about your case?

Let's suppose that you have 3 columns named A, B and C. When there is no content for one of these columns, the object representing the row won't have this property. e.g. `!rowResult.A`

[2019-01-23 09:44] danny12321 commented on #24
Hi @DiegoZoracKy,

Here is my excel file and the result I got.

![image](https://user-images.githubusercontent.com/15829978/51597244-0faaff00-1efb-11e9-9f76-4d71d9bfe4cf.png)

![image](https://user-images.githubusercontent.com/15829978/51597196-f1dd9a00-1efa-11e9-82b5-09c311d4fa22.png)

I expected to get an empty string in `result[2].B`. This is my bad, but is it possible to get an empty string in

[2019-01-23 16:27] DiegoZoracKy commented on #24
I got your point. We could have here a config like `preserveEmptyColumns` to retrieve the column containing a `null` (not `undefined`) value when the cell at the source is empty. Currently this feature doesn't exist, and it would be easy to be implemented. Would like to try to do it and push a PR? Here is the first line that should be affected by this new config:

https://github.com/DiegoZoracKy/c

[2019-01-23 16:40] danny12321 commented on #24
Unfortunately I don't know the headers because users could import their own excel sheet. I will do my best to create the feature and make a PR soon.

Thank you very much for the great module!

[2019-01-23 23:54] DiegoZoracKy commented on #24
Great, and thanks!

[2019-01-24 15:05] DiegoZoracKy commented on #24
"Do you have any solution? Else I will have to loop all the columns and all the rows and search if there is any data."

This is one example of a post processing method that I suggested you before, but to be implemented on your application. I believe the module shouldn't be responsible for handle it in this way because of the performance penalty involved.

Also I believe xlsx has something in this

[2019-01-29 04:24] khanisak opened #25 "Define option to sheets based on sheet index"
Can we give an option for sheet based on index not name?
So I want to give an option to second sheet or third sheet whatever the sheet name is.

[2019-01-30 12:03] DiegoZoracKy commented on #25
This is a good idea. I have to check on the `xlsx` (the module being used under the hood to get the data from a spreadsheet) to see if it has an option for that. Currently it returns me all the sheets as an object literal where the keys are the names of the sheets.

[2019-02-12 13:07] Himkar opened #26 "Does it has streamReader of option to read and process really huge file?"
Hi,

I want to read very huge file, and process data in parts, Does it has this option?

[2019-02-12 13:24] #26 closed

[2019-02-12 13:25] DiegoZoracKy commented on #26
Hi @Himkar,

It seems that the module that is used under the hood doesn't support that. Take a look at this part of their docs: https://github.com/SheetJS/js-xlsx#streaming-read

[2019-02-15 10:44] #24 closed

[2019-03-26 12:16] amitbravo opened #27 "shouldn't be a maxrow kind of option to read maximum rows ?"
of course I can use array.slice or something to cut off first N elements however, defining within options would be great.

[2019-03-26 12:52] DiegoZoracKy commented on #27
Hello @amitbravo,

Can you tell me more about how you came up with this idea. I'm assuming that the case wasn't a large file that this lib couldn't handle, because otherwise you wouldn't have the data to do your own slice.

Did you face a case where you had too many sheets to do your own slice? If that is the case, the sheets had different N elements to be kept in?

[2019-04-25 03:01] Anoi opened #28 "Uncaught TypeError: fs.readFileSync is not a function"
When i used by example, throws error .   Uncaught TypeError: fs.readFileSync is not a function
Help!

[2019-04-25 03:04] DiegoZoracKy commented on #28
Which Node.js version are you using?

[2019-04-25 03:43] Anoi commented on #28
v10.13

[2019-04-25 10:51] DiegoZoracKy commented on #28
Are you trying to run it on front-end? Because this module works only on back-end.

[2019-05-22 20:20] kgrvamsi commented on #9
@DiegoZoracKy  i'm really sorry i didn't looked into this issue ...my bad but here is the config i use as part of the conversion.

[code]

I'm expecting something like this

[code]

[2019-05-22 21:36] DiegoZoracKy commented on #9
No problem @kgrvamsi. Would mind explaining your use case? Why do you need the property with a null value?

[2019-05-22 21:43] kgrvamsi commented on #9
the excel sheet's i convert at times i see that even if there is a space it would result me with a undefined value and if there is no value in the cell that that value won't populate in the json array which is good and simplifies my work more on to defect for the right key(A,B,C,D....)

[2019-05-30 16:01] #28 closed

[2019-05-30 16:03] DiegoZoracKy commented on #27
Closing this thread due to inactivity.

@amitbravo in case you want to discuss further, feel free to reopen it.

[2019-05-30 16:03] #27 closed

[2019-07-16 06:11] priyanka-modanwal opened #31 "how to modify excel column data i want to apply toFixed function in particular excel column whole data while converting it to in JSON"

[2019-07-16 06:12] priyanka-modanwal commented on #31
{
  "Pricing_Segment_1_Voice_ONNET": [
    {
      "undefined": 1,
      "[25 - 50[": 1.6,
      "[50 - 100[": 1.4400000000000002,
      "[100 - 200[": 1.2960000000000003,
      "[200 - 300[": 1.1664000000000003,
      "[300 - 400[": 1.0497600000000002,
      "[400 - 500[": 0.9447840000000003,
      "[500 - 1000[": 0.8503056000000003,
      "[1000 - 1500[": 0.7652750400000004,
      "[1500 - 2000[

[2019-07-16 10:56] DiegoZoracKy commented on #31
We have this feature request here which is exactly about that:

https://github.com/DiegoZoracKy/convert-excel-to-json/issues/4

But currently there's not a way to do that during the conversion process.

I suggest you to use `.map()` on the result in order to do that.

[2019-08-23 09:31] gabhishekprdxn opened #32 "Get worksheet list."
Hi,
Is there any method to find all worksheets name from the source file(excel file)

[2019-08-23 09:39] gabhishekprdxn commented on #32
There is an issue like if I passed a Worksheet name, that does not exist in the source file. Then also return blank data. I think it should be handled by this lib. Let me know when it will be updated.

[2019-08-24 16:48] DiegoZoracKy commented on #32
You can get all sheets names from the object returned by the lib. `Object.keys(resultObjectFromExcelToJson)` will give you that.

[2019-08-29 14:09] gabhishekprdxn commented on #32
Thanks!! I got it.

[2019-08-29 14:09] #32 closed

[2019-10-08 04:41] myruldeen opened #33 "false date conversion"

[2019-10-08 12:34] DiegoZoracKy commented on #33
more info, please?

[2019-10-10 02:12] myruldeen commented on #33
Date from excel sheet with format eg. 1/1/2019
after convert it become 2018-12-31T15:59:14.000Z

[2019-10-10 02:14] myruldeen commented on #33
then check for the {cellDates: true} according to xlsx/sheetjs documentation

[2019-10-10 13:38] DiegoZoracKy commented on #33
There is an open issue on SheetJS regarding that case:
https://github.com/SheetJS/js-xlsx/issues/1470

[2019-10-28 17:30] gerhardx commented on #25
For anyone interest in doing something index sheet based. An easy implementation would be:

**jsonObject**: result from excel converter
**i**: variable to access sheet page

1. Keymap sheets names with `var index = Object.keys(jsonObj)`
2. Access the sheet with your data object like: `jsonObj[index[i]]`

@DiegoZoracKy If you think this would be a good option, I can help to create a pull request.

[2019-11-07 08:23] myruldeen commented on #33
Any updates regarding the date issue?
Another suggestion is using moment(date).add(1, 'days').toDate()

[2019-11-07 14:04] alphabetkrish opened #34 "always returns only the first row"
I have tested the sample code with attached xlsx and always it returns first row only any idea ?
[testdata - Copy.xlsx](https://github.com/DiegoZoracKy/convert-excel-to-json/files/3819983/testdata.-.Copy.xlsx)

[2019-11-07 14:11] alphabetkrish commented on #34
apologies my mistake , please ignore

[2019-11-07 14:11] #34 closed

[2019-12-20 16:42] hiagocoelho opened #35 "I want to use my script in a html index, and see the browser console printing my sheets"
I want to use my script in a html index, and see the browser console printing my sheets

[2020-01-30 06:50] hendryang opened #36 "To include header row even when it's specified"
Hi folks, thanks for this awesome lib.

is it possible to also include the "Row" that has been specified as header ( `header:{rows:1}` ) in the result ?

**Sample use case:**
I set `header:{rows:2}` , and i need to retrieve if all the column headers are correct for assertion (eq those in row 2).  currently once it's specified as header, the data will be removed from the result hence i cannot do th

[2020-01-31 21:54] DiegoZoracKy commented on #36
Hi @hendryang,

Tell me a bit more about the assertion step. Do you want to match the headers found on row 2 with some list that you have prior to run the conversion?

[2020-02-02 14:26] killerart opened #37 "Error: Cannot find module 'convert-excel-to-json' after building electron app"
I am making an electron app and your realization of excel-to-json fits me the most. It works just fine if I run the app with node.js, but when I build it and try to run, it can't find it
![Annotation 2020-02-02 162636](https://user-images.githubusercontent.com/48909985/73609670-cd6dd080-45d8-11ea-9bda-53202dafe7ad.jpg)

[2020-02-02 14:38] killerart commented on #37
Sorry, just had to include it in dependencies in package.json

[2020-02-02 14:38] #37 closed

[2020-02-02 16:20] DiegoZoracKy commented on #37
👍👍

[2020-02-26 06:46] micdemarco commented on #9
Thanks for the awesome library @DiegoZoracKy . I believe I have a similar use case to @kgrvamsi

Given the following spreadsheet

![image](https://user-images.githubusercontent.com/7993927/75318498-a300f180-58be-11ea-90a4-9e4ca3260686.png)

Current result:

[code]

Desired result:
[code]

It would be nice to have an option to choose whether to return "property: null" or "no property" for empty cel

[2020-02-27 13:44] y0x commented on #25
@DiegoZoracKy I think this would be a quite useful feature. Will you implement it?

[2020-02-27 22:52] DiegoZoracKy commented on #9
Hi @micdemarco and @kgrvamsi (again),
I get the idea and I believe that it will be good for us to move forward with it. We will need:

- New config option named **sheetStubs** to tell when those null properties should appear on the result data.

- A new condition capable of preserving those properties when **sheetStubs** config is set to **true**

The following line is where a new choice has to be

[2020-03-04 08:12] micdemarco commented on #9
@DiegoZoracKy sure, I'll be happy to make the changes

[2020-03-04 23:56] DiegoZoracKy commented on #9
Great! If you need more info on this specific case or just about the internals of this lib you can keep posting here and I'll help you.

[2020-03-05 00:36] DiegoZoracKy commented on #25
Hi @y0x, yes it would be possible to be implemented, however, unfortunately I don't have time to code that at the moment. If you, @gerhardx or someone else would be interested in to work on it I can provide you further guidance on this task. We would need to have a new config option named sheetsIndex, and then use it at this flow of the code:

https://github.com/DiegoZoracKy/convert-excel-to-json/

[2020-03-06 19:12] rmoylan opened #38 "Error: ENOENT: no such file or directory, open 'https://[FILE_URL]'"
When targeting the file locally, I  have no issue, but when I target the server hosted version, I  get the following error. Is there something different I  need to do when the file is hosted?

`Error: ENOENT: no such file or directory, open 'https://[FILE_URL]'`

This is my code
`const movementOrders = excelToJson({
			sourceFile: args.url,
			sheets: ['Data']
		});`

Thanks!

[2020-03-07 03:24] DiegoZoracKy commented on #38
Hi @rmoylan,

Yes, you would need to download the file first, and then when the download is finished, you can pass the local file path to the lib. It's not prepared to handle URLs.

[2020-03-07 05:37] rmoylan commented on #38
@DiegoZoracKy Got it thanks!

[2020-03-07 05:38] #38 closed

[2020-04-07 17:04] lalote commented on #33
in my case i have 2020-04-02 19:00:00 and get 2020-04-01T18:59:59.999Z

[2020-04-08 03:22] myruldeen commented on #33
it seems that the xlsx library have a problem dealing with date on excel. I just hardcoded it in my own project by making some wrapper :(

[2020-04-08 03:30] myruldeen commented on #33
``// Fix date and restructured json
function fixDate(data) {
	// const data = await jf.readFile('./json/data.json');
	data['Public_Holiday'].forEach(function(val) {
		val.date = addOneDay(val.date);
	});
	data['Special_Festive_Surcharge'].forEach(function(val) {
		val.fromDate = addOneDay(val.fromDate);
		val.toDate = addOneDay(val.toDate);
	});

	var sortedArray = Object.keys(data).map(function(a

[2020-04-08 03:32] myruldeen commented on #33
`
// Fix date and restructured json
function fixDate(data) {
	// const data = await jf.readFile('./json/data.json');
	data['Public_Holiday'].forEach(function(val) {
		val.date = addOneDay(val.date);
	});
	data['Special_Festive_Surcharge'].forEach(function(val) {
		val.fromDate = addOneDay(val.fromDate);
		val.toDate = addOneDay(val.toDate);
	});

	var sortedArray = Object.keys(data).map(function(a

[2020-04-08 03:38] myruldeen commented on #33
[fixDate.txt](https://github.com/DiegoZoracKy/convert-excel-to-json/files/4448048/fixDate.txt)

[2020-04-14 19:39] JakeHadley commented on #28
I am trying to run this in a react-native application and I'm getting this error. Not going to work then?

[2020-05-26 10:35] harsh07bharvada commented on #9
Hi @DiegoZoracKy !
Thanks for the awesome lib. Is this issue closed ? What new key do we have to add for enabling this ?
Had another issue though. Dummy rows are getting converted with all fields as blank string ? How to tackle this issue?

[2020-06-05 01:19] micdemarco commented on #9
@harsh07bharvada some work was done in this pr https://github.com/DiegoZoracKy/convert-excel-to-json/pull/39
awaiting feedback from @DiegoZoracKy

[2020-06-05 14:14] DiegoZoracKy commented on #9
Hi @micdemarco and @harsh07bharvada, I'm sorry for the delay. I'm really facing a huge lack of time currently. @micdemarco the PR is merged now and thanks for working on it!

@harsh07bharvada can you try to use this new version, see if that works well for your case and return here with a feedback?

[2020-07-09 12:37] intermx-krishnan commented on #9
Hi @DiegoZoracKy i also facing same issue. My case is i want to insert excel data into database. in this case,
excelToJson({
      source: fs.readFileSync(filePath),
      header:{
        rows: 1
      },
      columnToKey: {
        A: 'type',
        B: 'name',
        C: 'company',
        D: 'orgID',
        E: 'isParent',
        F: 'parentCompany',
        G: 'primaryContact',
        H: 't

[2020-07-10 02:10] DiegoZoracKy commented on #9
Hi @intermx-krishnan, the README.md hasn't been updated yet with the new feature brought by @micdemarco and released on version 1.7.0. You just have to define `sheetStubs` on the config object passed in to excelToJson (right @micdemarco?) . You can check the example on the test file pushed on this PR:

https://github.com/DiegoZoracKy/convert-excel-to-json/pull/39/files

[2020-07-15 03:15] micdemarco commented on #9
@intermx-krishnan @DiegoZoracKy

Yes, correct, i've added a pr to update the README

[2020-08-11 10:03] MinhalAbbas000 opened #42 "Issues with reading values of column after Z in the excel."
Hello!
I am trying to read data after 'Z' column in my code. below is my code
const bSDealDatas = excelToJson({
		sourceFile: appDataXLSX,
		header: {
			rows: 1
		},
		sheets: [{
			name: 'spotDealData',
			range: 'A2:AA2'
		},
		],
		columnToKey: {
			'*': '{{columnHeader}}'
		}
	});
appDataXLSX is the path of my excel file.
if I defined range A2: Z2 is it works fine but when I try to give A2: A

[2020-08-20 04:32] RichardFelix opened #43 "Getting a corrupted zip error"
Error: Corrupted zip : can't find end of central directory

I get this error about half of the time and sometimes it works.  Not sure why, the function I use is below.  Thank in advance!

function convertExcelToJson(dataFile, columns){

    return new Promise((resolve, reject)=>{

        let result = EXCELTOJSON({
                source: fs.readFileSync(dataFile),
                columnToKey: col

[2020-08-20 07:17] #43 closed, assigned to nobody

[2020-08-20 07:18] RichardFelix commented on #43
Disregard I figured this out, it was getting this due to a timing issue after downloading a excel file.  Thank anyway!

[2020-09-07 18:07] panavsethi1 opened #44 "_fs.readFileSync is not a function"
This shows up while following the simple steps in npm documentation

[2020-09-07 22:35] DiegoZoracKy commented on #44
Can you send the entire error log along with the Node.js version you are using?

[2020-09-08 16:11] HenrikEilers commented on #44
I have the same Problem. The reason seems to be that clientside js cant use the fs(FileSystem).

Here is the same issue with another package:
https://github.com/SheetJS/sheetjs/issues/418

According to the Answers there, the Problem can be solved by using a html Input tag and reading the file that way. But i have not tried it yet.

I hope that helps.

[2020-09-08 18:26] HenrikEilers commented on #44
It works! But the code has to be modified. I added a posibiliy to pass a "type"  argument to the underlying xlsx package.

My code looks like this:

[code]

and the change in convert-excel-to-json.js looks like this:

[code]

[2020-09-21 11:36] JaviPG commented on #15
Anybody found solution for convert date fields to string fields?

Currently I'm try solve it. If can i find way I'll share it with you.

[2020-09-23 16:02] TheTechChild opened #45 "NPM Audit Security Report - Prototype Pollution Detected by convert-excel-to-json"
I have had to remove convert-excel-to-json from my enterprise project due to a security vulnerability that was detected by an npm audit command this morning. Please update your dependency of yargs-parser to a version that doesn't include this security vulnerability. Unfortunately I cannot keep packages that expose any kind of security vulnerability due to my company's requirement of being PCI comp

[2020-09-23 16:08] DiegoZoracKy commented on #45
Hi @IAmIndra thanks for bringing attention to this matter. Do you think you could be able to run the command npm audit fix and push a PR with the result?

https://docs.npmjs.com/cli/audit

[2020-09-23 16:16] TheTechChild commented on #45
The package "requires manual review and could not be updated"
![Screen Shot 2020-09-23 at 10 15 01 AM](https://user-images.githubusercontent.com/20774670/94040158-d557cc00-fd85-11ea-9467-757127bbda49.png)

[2020-09-24 18:06] cnjmike commented on #44
Final edit:

Henrik's change in convert-excel-to-json.js also works for me, with a slight variation on where the array buffer comes from:

with this.file coming from a standard HTML file picker:

[code]

[2020-10-06 19:55] TheTechChild commented on #45
Any update on this?

[2020-10-20 06:13] LeonYanghaha opened #46 "How to skip hidden columns？"
How to skip hidden columns

[2020-11-05 15:39] UNIDY2002 commented on #45
I am also interested in this issue (as I ran `yarn audit` today and saw this note), and suspect that the reason lies in `magicli`. However, `magicli` was last published two years ago, and therefore this issue might not be that easy to fix.

It seems that cli support is a feature of this repo, so perhaps a possible solution is using a `magicli`-less method to implement cli support...?

[2020-11-05 19:48] WuglyakBolgoink opened #47 "Please add CHANGELOG.md file"
Any information about each release will be very helpful! thank you!

[2020-11-06 02:01] DiegoZoracKy commented on #45
Hi folks, sorry for the delay things are pretty rushed around here. The problem is not `magicli` itself but one of its dependencies. If we would try to follow a _magicliless_ way we would soon or later end up with a similar problem but with another dependency. Although I'm also the owner of [magicli](https://www.npmjs.com/package/magicli) I won't find time to fix its dependencies vulnerabilities r

[2020-11-06 03:13] UNIDY2002 commented on #45
Great thanks for your kind reply and sorry for not having looked carefully into the problem.

I think this is a proper solution, as users preferring vulnerability-free dependencies can update their packages and get their requirements fulfilled, while users in need of the cli feature can choose to explicitly specify a previous version.

[2020-11-08 09:13] aboodrazeq opened #48 "how to change sheet name"
everything ok I read all data and the header but I want to remove the sheet or change the name of it
thank you

[2020-11-08 15:00] DiegoZoracKy commented on #48
Hi @aboodrazeq maybe this config is what you are looking for:

https://github.com/DiegoZoracKy/convert-excel-to-json#only-to-specific-sheets

[2020-11-17 00:47] robrasti opened #49 "Encoding issue"
I'm not sure if I'm doing something incorrectly, but I have a spreadsheet that has a few columns as follows:

ContentKey
EnglishText
SpanishText

I am using it to generate a JSON object to force specific Spanish translations.  The problem I'm having is I have in the spreadsheet something like:

Cómo utilizar este informe:

After running through the convert-excel-to-json using Node I end up with th

[2020-11-17 14:46] robrasti commented on #49
For anyone that stumbled upon this, I was able to resolve the issue, but not in a way I think was very clear.  I was using this as part of a Powershell script that did the following:
- Install npm packages
- run node for a JS file that opened an Excel document, converted it to JSON then returned it as a JSON string using JSON.stringify.
- Redirect that output to a file
- Move that file to a "Data"

[2020-11-17 14:49] robrasti commented on #49
I have closed the issue request because I believe it is not an issue with this library, but rather the use of this library in Powershell vs Bash.

[2020-11-17 14:49] #49 closed, assigned to nobody

[2020-11-18 01:14] Sanotsu commented on #48
Maybe like a sheet named "sheet1", after convert to JSON, the name changed to "newSheet"? Thx.

[2020-11-27 14:25] dwivedithedev commented on #44
This worked for me as well. Thank you!

[2020-12-01 18:44] Miniland1333 commented on #45
I've put up a PR (https://github.com/DiegoZoracKy/cliss/pull/1) to update the upstream dependency yargs-parser within convert-excel-to-json > magicli > cliss. With the update, it appears that all of the tests for cliss are all still passing.

[2021-01-07 12:56] KnifeStyle opened #50 "Rows as Headers"
Hey, in my excel there are the rows as header, like A1 = Type, B1 = "TypeData" A2 = Date , B2 = "DateData". Is it possible with this tool, to get my table into a good JSON?

[2021-01-14 09:14] Marcosmaliki commented on #48
I need this too, sheet name can be dynamic

[2021-01-14 09:21] Marcosmaliki commented on #48
Never mind. We can use `Object.keys(result)` to get the sheet name then use it to filter the response like `result[Object.keys(result)[0]]`

[2021-01-14 14:42] DiegoZoracKy commented on #48
I believe that the way @Marcosmaliki brought would be the best one to go. Although we can develop this as a new feature, it's so simple to be done on a post processing snippet of code that maybe isn't worth to think of it as a new feature. I'm going to close this issue but if someone wants to get back to this conversation we can reopen it.

[2021-01-14 14:42] #48 closed, assigned to nobody

[2021-01-16 03:51] Miniland1333 commented on #45
FYI we are getting close on fixing the underlying dependency (https://github.com/DiegoZoracKy/cliss/pull/3). I just have to get the repo owner to approve those changes as a patch release.

[2021-01-25 03:41] Miniland1333 commented on #45
I am having problems updating the dependents of Cliss/Magcli, including covert-excel-to-json, due to circular dependencies. Since these dependencies are below v1.0.0, using the carat `^` to float the versions does not work. If any of you have suggestions on how this mess can be resolved, please comment on https://github.com/DiegoZoracKy/magicli/pull/3.
![image](https://user-images.githubuserconten

[2021-03-04 07:05] shaheerkhan12 opened #52 "doesnt pick up a field with date and time format as data"
please can anyone fix the issue with the date and time entry conversion from excel to json cause it skips that field

[2021-03-31 12:17] devarcher opened #53 "batching excel files"
This library looks like it will work perfectly to map a non-standard spreadsheet (rows an columns flipped) by using the range option!

Is it possible to make the ```sourceFile: 'SOME-EXCEL-FILE.xlsx',``` dynamic  and push an entire folder of .xlsx files through rather than one at a time?

[2021-04-01 05:27] devarcher commented on #53
figured it out ;)

[2021-04-01 05:27] #53 closed, assigned to nobody

[2021-04-03 10:17] aytugulis opened #54 "sheetStubs doesn't work"
I tried sheetStubs option and it didn't work. My code:

I got: (i got this without sheetStubs)

[code]

I want to get "C":null.

[2021-04-12 21:53] BMarrant commented on #42
I also saw this bug when reading Z2:AA5.  Workaround for me was inserting a blank column before Z (so then reading AA2:AB5) worked for me as I only needed those two columns.

It seems like going across the boundary of Z->AA is the problem, so might just want to leave all before AA blank if you need to read more than 26 columns at once.

If changing the sheet is not an option, then I'm not sure the

[2021-04-18 01:06] troyyer commented on #54
@aytugulis I also had the same issue as you where the sheetStubs wasnt working. I surpirisingly sorted this out by changing the font size in the excel file (something out of a programmerhumor subreddit).
I don't know the exact way that this occurs. Potentially it has to do with the way I had copied and pasted in the data I put into the Excel file
so below is the data in the excel sheet 'Sheet3' it

[2021-04-18 01:34] troyyer opened #55 "True/ False Boolean"
Hi @DiegoZoracKy,

Is there a way to save the json record as a True/False Boolean?

for example currently if i have in an Excel file a text with True/False. It will come up in the json as
[code]

is it possible for me to save the json as a boolean value?
[code]

[2021-05-11 07:57] Muratcol commented on #45
Any solution yet?

[2021-05-11 16:49] Miniland1333 commented on #45
The repository owner has not been online in quite a while. In the event @DiegoZoracKy becomes responsive again, we will likely just simultaneously bump all these connected repositories to version 1.0.0 and go from there.

[2021-07-04 23:19] pachecoder commented on #54
The same error is happening to me, D column with null values, the sheetStubs parameter is not working. Is strange because it works with the F column.

[2021-07-06 16:04] BluebambooSRL commented on #44
Works perfect!!! @DiegoZoracKy Could commit the change pls?

[2021-07-07 17:02] aytugulis commented on #54
I didn't solve this problem with this package. I solve this with :
https://www.npmjs.com/package/xlsx

[2021-07-17 08:35] dotnetshadow opened #58 "Range from the same sheet?"
Hi there,

A great library.
I was wondering how I could read various ranges from the same sheet:

At the moment I have the following:

![image](https://user-images.githubusercontent.com/296247/126031352-9ff68373-cc6e-42d3-983a-c25f0e923869.png)

|        |        |
|--------|--------|
| Season | Autumn |
| Year   | 2021   |
| Comp   | Comp1  |
| Round  | 1      |

|         |       |        |
|---

[2021-10-01 13:11] halleffernando opened #61 "Put the "includeEmptyLines" property in the documentation."
By default the library removes blank lines, but the documentation doesn't tell you how to show them. But analyzing the code, I found the property "includeEmptyLines" , which brings the lines blank.
A future treatment would be for it to return an object instead of null.
Otherwise, congratulations on the work.

[2021-11-12 12:31] hanumanjiblog opened #62 "xlsx date not able to convert to string"
xlsx date not able to convert to string

[2022-05-04 09:28] TSergey123 opened #64 "Rows with merged cells inside"
Hey everyone,
Thanks a lot for your library, appreciate the work that you have done, but I have an unusual problem.
what can I do with merged cells in one line?
my result:
`   { ClientCat: 'FirstCat', Place: 'Inside', List: '*', Acceptable: 'true', Program: Special, Code: 'I1', Name: Product 'sort'}, { ClientCat: null, productCode: null, CreditType: null, SummFrom: null, SummTo: null, TermFrom: 1,

[2022-05-09 07:11] snymrova opened #65 "How to retrieve cell value as it is that is formatted as "%" ?"
I have a sheet in which the column value is formatted to percentage, the value I am getting is without formatting, how do I get the value as it is.

Example:
col1: 22.5% (Formatted as %)

Output:
0.225

What I want as output is:
22.5%

How to achieve that?

[2022-08-22 07:32] tijevlam commented on #21
hi there, since this has been a long time. Is there any news on this issue? In my case i would like to apply a camelCase function to the headerrow but applying a function to {{columnHeader}} results in undefined keys.

[2022-11-07 13:31] ymoreiratiti opened #67 "Snyk Vulnerability - Update xlsx"
Upgrade xlsx package version.
The current version has a Snyk Vulnerability:
https://security.snyk.io/package/npm/xlsx

https://github.com/DiegoZoracKy/convert-excel-to-json/blob/master/package.json#L29